{% extends 'base.html.twig' %}
{% block body %}


    <div class="container-fluid">
        <div class="row">
            <div class="main-banner">
                <h1 class="display-1">DEVICE SHOP</h1>
                <div class="container">
                <div class="card border-0 shadow-lg">
                    <div class="card-body px-3 pt-grid-gutter pb-0">
                        <div class="row g-0 ps-1">
                            {% for product in products %}
                            <div class="col-sm">
                                {% if ('http' in product.img) == false %}
                                <a class="d-block text-center text-decoration-none me-1" href=""><img src="{{ '/uploads/product/' ~ product.img }}" height="230px" width="150px" class="shadow-sm" alt="Men"></a>
                                    {% else %}
                                        <a class="d-block text-center text-decoration-none me-1" href=""><img src="{{ '/uploads/product/' ~ product.img }}" height="230px" width="150px" class="shadow-sm" alt="Men"></a>
                                        {% endif %}
                                <h2 class="display-8">{{ product.name }}</h2></div>
{#                                <h2 class="display-8">{{ product.price/100 }} $</h2></div>#}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>

                <h3 class="display-3">СКИДКА 20% НА ВСЮ ТЕХНИКУ APPLE</h3>
            </div>
        </div>
    </div>
{% endblock %}