{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-ph name-and-price">
        <div class="title-item-name">
            Название продукта —
            <h3>
                 {{ product.name }}
            </h3>
        </div>
        <div class="title-item-price">
            Текущая цена продукта —
            <h3>
                 {{ product.price/100 }} $
            </h3>
        </div>
    </div>
    <div class="container-ph start-end-date">
        <label class="start-date">Start:</label>
        <input id="dateStart" type="date" name="start">
        <label class="end-date">End:</label>
        <input id="dateEnd" type="date" name="end">
        <button class="btn btn-primary" id="submit" type="submit">Save</button>
    </div>

    <div class="container-ph product-statistics">
        <div class="row">
        <div id="priceHistory" data-product="{{ product.id }}">
            <canvas class="chart" width="400" height="400"></canvas>
        </div>
        <div id="orderHistory" data-product="{{ product.id }}">
            <canvas class="chart" width="400" height="400"></canvas>
        </div>
        </div>
    </div>

{% endblock %}