{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-ph">
        <div class="title-item-name">
            Название продукта -
            <h3>
                {{ priceHistory[0].product.name }}
            </h3>
        </div>
        <div class="title-item-price">
            Текущая цена продукта -
            <h3>
                {{ priceHistory[0].product.price/100 }} $
            </h3>
        </div>
    <div class="container-ph">
        <div id="priceHistory" data-product="{{ priceHistory[0].product.id }}">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="container-ph">
        <div id="orderHistory" data-product="{{ priceHistory[0].product.id }}">
            <canvas id="myChartOrder" width="400" height="400"></canvas>
        </div>
    </div>

{% endblock %}