#index:
#    path: /
#    controller: App\Controller\DefaultController::index

productCreate:
  path:       /admin/product/create
  controller: App\Controller\Admin\ProductController::productCreate

productList:
  path:       /product/list
  controller: App\Controller\ProductController::productList

productEdit:
  path:       /admin/product/edit/{id}
  controller: App\Controller\Admin\ProductController::productEdit

productDelete:
  path:       /admin/product/delete/{id}
  controller: App\Controller\Admin\ProductController::productDelete

categoryCreate:
  path:       /admin/category/create
  controller: App\Controller\Admin\CategoryController::categoryCreate

categoryEdit:
  path:       /admin/category/edit/{id}
  controller: App\Controller\Admin\CategoryController::categoryEdit

categoryList:
  path:       /admin/category/list
  controller: App\Controller\Admin\CategoryController::categoryList

categoryDelete:
  path:       /admin/category/delete/{id}
  controller: App\Controller\Admin\CategoryController::categoryDelete

addProductToOrder:
  path:       /order/product/add/{id}
  controller: App\Controller\OrderController::addProductToOrder

basketProduct:
  path:       /product/basket
  controller: App\Controller\OrderController::viewOrder

basketProductDelete:
  path:       /basket/product/delete/{id}
  controller: App\Controller\OrderController::deleteProductFromOrder

app_logout:
  path:    /logout
  methods: GET

userRegisters:
  path:       /registers
  controller: App\Controller\SecurityController::userRegisters

login:
  path:       /login
  controller: App\Controller\SecurityController::login

homepage:
  path: /
  controller: App\Controller\HomeController::homepage

orderList:
  path:       /admin/order/list
  controller: App\Controller\Admin\OrderController::orderList

statusSent:
  path:       /admin/order/sent/{id}
  controller: App\Controller\Admin\OrderController::changeStatusToSent

statusCanceled:
  path:       /admin/order/canceled/{id}
  controller: App\Controller\Admin\OrderController::changeOrderStatus
  defaults:
    requiredStatus: processing
    newStatus:      canceled

statusBasket:
  path:       /admin/order/basket/{id}
  controller: App\Controller\Admin\OrderController::changeOrderStatus
  defaults:
    requiredStatus: canceled
    newStatus:      basket

userOrderList:
  path:       /admin/user/order/list
  controller: App\Controller\Admin\OrderController::userOrderList

statusCompleted:
  path:       /order/completed/{id}
  controller: App\Controller\OrderController::changeStatusToCompleted

priceDynamics:
  path:       /product/{id}/price-dynamic
  controller: App\Controller\ProductController::showPriceDynamic

search:
  path:       /product/search
  controller: App\Controller\ProductController::completionSearchProduct