#index:
#    path: /
#    controller: App\Controller\DefaultController::index

productCreate:
  path:       /product/create
  controller: App\Controller\AdminController::productCreate

productList:
  path:       /product/list
  controller: App\Controller\AdminController::productList

productEdit:
  path:       /product/edit/{id}
  controller: App\Controller\AdminController::productEdit

productDelete:
  path: /product/delete/{id}
  controller: App\Controller\AdminController::productDelete

categoryCreate:
  path:       /category/create
  controller: App\Controller\AdminController::categoryCreate

categoryEdit:
  path:       /category/edit/{id}
  controller: App\Controller\AdminController::categoryEdit

categoryList:
  path:       /category/list
  controller: App\Controller\AdminController::categoryList

categoryDelete:
  path: /category/delete/{id}
  controller: App\Controller\AdminController::categoryDelete

addProductToOrder:
  path: /order/product/add/{id}
  controller: App\Controller\OrderController::addProductToOrder

basketProduct:
  path: /product/basket
  controller: App\Controller\OrderController::viewBasket

basketProductDelete:
  path: /basket/product/delete/{id}
  controller: App\Controller\OrderController::basketProductDelete

app_logout:
  path: /logout
  methods: GET

userRegisters:
  path: /registers
  controller: App\Controller\SecurityController::userRegisters

login:
  path: /login
  controller: App\Controller\SecurityController::login

homepage:
  path: /
  controller: App\Controller\HomeController::homepage

orderList:
  path:       /order/list
  controller: App\Controller\ManagerController::orderList

statusEdit:
  path:       /order/edit/{id}
  controller: App\Controller\ManagerController::statusEdit

statusSent:
  path:       /order/sent/{id}
  controller: App\Controller\ManagerController::statusSent

statusCanceled:
  path:       /order/canceled/{id}
  controller: App\Controller\ManagerController::statusCanceled