
.container-ph {
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-item-name {
    color: #151413;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-item-price {
    color: #c72323;
    display: flex;
    flex-direction: row;
    align-items: center;
}

th {
    height: 30%;
}
td.actions {
    text-align: right;
}
td.actions a{
    margin: 2px;
}
p.hidden-text {
    height: 75px;
    overflow: hidden;
}

img{
    width: 100%;
    max-height: 300px;
}
.main-banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-image:
            linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url("https://i.applemix.ru/2019/01/xr.png");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    background-position: top;
}
.main-banner h1 {
    margin-top: 200px;
    color: #ffffff;
    padding-bottom: 100px;
}
.text {
    color: #474752;
    /*background-color: rgba(200, 165, 252, 0.3);*/
}
.main-banner h3 {
    margin-top: 50px;
    color: #ffffff;
    background: #262626; /* Цвет фона */
    /*padding-bottom: 50px;*/
    border: 2px solid black;
}
#titleShop {
    color: #351055;
    font-size: 27px;
}

.block-search {
    position: relative;
}
.autocomplete-wrapper {
    position: absolute;
    top: 43px;
    width: 262px;
    outline: 2px solid #8e8e8e;
    background: #fff;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 0px 6px 6px rgba(120, 120, 120, 0.2);
}
.autocomplete-wrapper.active {
    display: block;
}
.autocomplete-wrapper div {
    cursor: pointer;
    padding: .375rem .75rem;
}
.autocomplete-wrapper div:hover {
    color: #fff; /* Цвет текста активного пункта */
    background-color: #878484; /* Цвет фона активного пункта */
}
.review {
    width:500px;
    border-top:1px solid #9EC1D4;
    border-bottom: dotted 1px #9EC1D4;
    padding-left:10px
}
.formReview {
    margin-left: 120px;
}
.star-rating i{
    color: darkorange;
}
.category {
    color: #7f7d7d;
}
.card-products {
    width: 300px;
    padding: 10px;
}
.product-card {
    margin-left: auto;
    margin-right: auto;
}
.col-lg-3 {
    margin-block: 20px;
}
